<div class="header-content">
    <h1> ATHIRAGPILLAI N01539688</h1>
    <div class="header-links">
        <a class="header-link" href="/">Home</a>
        <a class="header-link" href="/users">Users</a>
        <a class="header-link" href="/data">All Data</a>
        <a class="header-link" href="/search/invoiceID">Search Invoice ID</a>
        <a class="header-link" href="/search/productline">Search Productline</a>
        <a class="header-link" href="/viewData">View Sales Data</a>
    </div>
</div>
