<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      /* Add custom styles specific to this main.hbs file */
      /* For example, header, content, footer styles */
      /* Adjust as per your design */
      .header {
        background-color: #333;
        color: white;
        padding: 10px;
      }
      .content {
        padding: 20px;
      }
      .footer {
        background-color: #333;
        color: white;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <header>
      {{>header}}
    </header>
    </div>
    <div class="content">
      {{{body}}}
    </div>
    <div class="footer">
      <p>athiragpillai1995@gmail.com</p>
    </div>
  </body>
</html> 
